@font-face {

    font-family:'NanumGothic';

    src: url('images/NanumGothic.eot');

    src: url('images/NanumGothic.eot?#iefix') format('embedded-opentype'),

         url('images/NanumGothic.woff') format('woff'),

         url('images/NanumGothic.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}


h1{
  text-align:center;
  font-family:'NanumGothic';

}

body
{

 background-image: url("http://mblogthumb3.phinf.naver.net/20150308_190/5pin__14257453849003jihu_PNG/%BF%C0%C7%C9%A4%A4%A4%BC1.png?type=w2");
 background-size: cover;
}

#main
{
margin-top: 70px;
font-size: 20px;
font-family: 'NanumGothic';

}

#sns{
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

img{
  border-radius: 20px;
}

#introduce{
  font-size: 18px;
}
