@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src:  url(NanumPenScript-Regular.ttf) format('truetype');
  
}

@font-face{
  font-family: 'Jeju Hallasan';
  font-style: normal;
  font-weight: 400;
  src:  url(JejuHallasan-Regular.ttf) format('truetype');
}


h1{


  text-align:center;
  font-family:'Nanum Pen Script';
  font-size:80px;

}



#main
{

margin-top: 70px;
font-size: 30px;
font-family: 'Jeju Hallasan';

width : 500px; 
margin: 0 auto;


  


}

#sns{
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

img{
  border-radius: 20px;
}

#introduce{
  font-size: 22px;
}
